<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.post.mapper.PostContentMapper">

    <resultMap id="postContentResultMap" type="com.post.post.model.PostContent">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="findById" resultMap="postContentResultMap">
        SELECT * FROM post_content WHERE id = #{id}
    </select>

    <insert id="createPostContent">
        INSERT INTO post_content (id, content, create_time, update_time)
        VALUES (#{id}, #{content}, #{createTime}, #{updateTime})
    </insert>

    <update id="updatePostContent">
        UPDATE post_content
        SET content = #{content}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deletePostContent">
        DELETE FROM post_content WHERE id = #{id}
    </delete>

    <!-- 其他自定义的查询语句... -->
</mapper>
